<html>
</head>
<link rel="stylesheet" href="login-page.css">
</head>
<body>
<form action="/login" method="post">
 <div class="loginform1">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="id" required>
</div>
<div class="loginform2">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
</div>
    <button type="submit">Submit</button>

</form>


</body>
</html>

